@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
  font-family: BrasleyDemo-Medium;
  src: url(./Nevas-ai/assets/fonts/Brasley-Demo-Medium.otf) format("opentype");
  font-weight: 500;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: DM-Sans;
  src: url(./Nevas-ai/assets/fonts/DMSans.c25915a0.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: DM-Mono-Light;
  src: url(./Nevas-ai/assets/fonts/DMMono-Light.559007bb.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap
}

@font-face {
  font-family: DM-Mono-Italic;
  src: url(./Nevas-ai/assets/fonts/DMMono-Italic.woff2) format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap
}

@font-face {
  font-family: Outfit;
  src: url(./Nevi/assets/fonts/Outfit-Regular.ttf) format("truetype");
  font-weight: 500;
  font-display: swap
}

@theme {
  --font-brasley: BrasleyDemo-Medium, 'Brasley Demo';
  --font-DM-Sans: DM-Sans;
  --font-DM-Mono-Light: DM-Mono-Light, monospace;
  --font-DM-Mono-Italic: DM-Mono-Italic, monospace;
  --font-poppins: "Poppins", sans-serif;
  --font-outfit: Outfit, sans-serif;
  --color-primay: #4080F5;
  --color-secoundary: #572AC2;
}

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}

#particles canvas {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
}

body {
  @apply bg-black text-white overflow-x-hidden
}

@layer utilities {
  .gradient-text {
    background: #fff6;
    background: linear-gradient(90deg, var(--color-primay), var(--color-secoundary));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .white-silver-animated-text {
    color: #0000;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg, #999, #fff 50%, #999) 0 0/250% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    animation: white-silver-gradient 8s linear infinite;
    display: inline-block
  }

  .white-silver-animated-text1,
  .white-silver-animated-text2 {
    color: #0000;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(90deg, #999, #fff 50%, #999) 0 0/300% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    display: inline-block
  }

  .vh-screen {
    height: calc(var(--vh, 1vh) * 100);
  }

  .white-silver-animated-text2 {
    animation: white-silver-gradient 9s infinite
  }

  @keyframes white-silver-gradient {
    0% {
      background-position: 0 0
    }

    to {
      background-position: 300% 0
    }
  }

  .animate-marquee {
    animation: marquee 40s linear infinite;
  }

  @keyframes marquee {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translate(-100%);
    }
  }
}

#fullpage>div:not(.section) {
  height: auto;
  overflow: visible;
}

/* NEVI */

.btn-spin::before {
  animation: btn-spin 5000ms infinite linear;
}

@keyframes btn-spin {
  0% {
    transform: rotateZ(0deg);
  }
  0% {
    transform: rotateZ(360deg);
  }
}

.animate-scroll {
  animation: testi-scroll 25s linear infinite;
}

.animate-scroll1 {
  animation: testi-scroll1 25s linear infinite;
}

.testimonialCards:hover .animate-scroll1,
.testimonialCards:hover .animate-scroll 
{
  animation-play-state: paused;
}

@keyframes testi-scroll1 {
  0% {
    transform: translateY(-10%);
  } 100% {
    transform: translateY(-60%);
  }
}

@keyframes testi-scroll {
  0% {
    transform: translateY(0);
  } 100% {
    transform: translateY(-50%);
  }
}